:root {
  --primary: #86a8cf;
  --primaryDark: #26425a;
  --secondary: #e1cbd7;
  --secondaryDark: #c38eb4;
  --white: #fff;
  --black: #151313;
  --fontMain: "Montserrat", sans-serif;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Globals */

body {
  background-color: var(--primary);
  font-size: 1.6rem;
  line-height: 1.5;
}

p {
  font-size: 1.8rem;
  font-family: Arial, Helvetica, sans-serif;
  color: var(--white);
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  border-radius: 2rem;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

h1,
h2,
h3 {
  text-align: center;
  color: var(--secondary);
  font-family: var(--fontMain);
}
h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.2rem;
}

h3 {
  font-size: 2.4rem;
}

/* Header  */

.header {
  display: flex;
  justify-content: center;
}

.header__logo {
  margin: 3rem 0;
}

.navigation {
  background-color: var(--primaryDark);
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.navigation__link {
  font-family: var(--fontMain);
  color: var(--white);
  font-size: 3rem;
}

.navigation__link--active,
.navigation__link:hover {
  color: var(--secondary);
}

/* Grid */

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Main */
.product {
  background-color: var(--primaryDark);
  padding: 1rem;
}
.product__img {
  width: 100%;
}
/* 
.product__information {
} */
.product__name {
  font-size: 4rem;
  font-weight: 700;
}
.product__price {
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--secondary);
}

.product__name,
.product__price {
  font-family: var(--fontMain);
  margin: 1rem 0;
  text-align: center;
  line-height: 1.2;
}

/* Shirts */
.grafic {
  min-height: 30rem;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1 / 3;
}

.grafic--shirts {
  grid-row: 2 / 3;
  background-image: url(../img/grafico1.jpg);
}

.grafic--node {
  background-image: url(../img/grafico2.jpg);
  grid-row: 8 / 9;
}

@media (min-width: 768px) {
  .grafic--node {
    grid-row: 5 / 6;
    grid-column: 2 / 4;
  }
}

/* About-Us  */
.about-us {
  display: grid;
  grid-template-rows: repeat(2, auto);
}

@media (min-width: 768px) {
  .about-us {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
  }
}

.about-us__img {
  grid-row: 1 / 2;
  width: 100%;
  border-radius: 2rem;
}

@media (min-width: 768px) {
  .about-us__img {
    grid-column: 2 / 3;
  }
}

/* Blocks  */

.blocks {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  text-align: center;
}

@media (min-width: 768px) {
  .blocks {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.block__img {
  width: 100%;
}

.block__title {
  margin: 0;
}

/* Footer */

.footer {
  background-color: var(--primaryDark);
  padding: 1rem 0;
  margin-top: 2rem;
}

.footer__text {
  font-family: var(--fontMain);
  text-align: center;
  font-size: 2.2rem;
}
